/* ------------------------------
   Global Styles
------------------------------ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 0.65rem;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #ffffff;
    line-height: 1.6;
}

/* ------------------------------
   Banner / Header
------------------------------ */

.site-banner {
    width: 100%;
    background-color: #192643;

    padding: clamp(1.5rem, 4vh, 3rem) 2rem;

    display: flex;
    justify-content: center;
}

.banner-content {
    width: 100%;

    display: grid;
    grid-template-columns: auto, auto;
    column-gap: 2.5rem;

    align-items: center;
    color: #E5E7EB;
}

.banner-image {
  grid-column: 1;
  grid-row: 1;

  width: 30vh;
  height: 30vh;

  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ffffff;

}

.banner-text {
  grid-column: 2;
  grid-row: 1;
}

.banner-text h1 {
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
    color: #E5E7EB;
}

.banner-text h2 {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0;
    color: #CBD5E1;
}

.banner-text p {
    font-size: 1.75rem;
    font-weight: 300;
    margin: 0.2rem 0 0;
    color: #94A3B8;
}

/* ------------------------------
   Main Content
------------------------------ */

.content {
    max-width: 75vw;
    margin: 4rem auto;
    padding: 0 2rem;
    text-align: center;
}

.content h2 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    color: #192643;
}

.content p, li, ul {
    font-size: 1.6rem;
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

/* ------------------------------
   Section Cards
------------------------------ */

.content-section {
    margin: 6rem auto;
    max-width: 900px;
}

.section-card {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 2rem;

    padding: 3rem;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.section-header {
    margin: 0;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
}

.section-body {
    display: grid;
    grid-template-columns: 160px 1fr;
    gap: 3rem;
    align-items: start;
}

.section-image {
    width: 160px;
    height: 240px;
    border-radius: 10%;
    object-fit: cover;
}

.section-text h1 {
    font-size: 3rem;
    font-weight: 7000;
    text-align: left;
    margin: 0;
}

.section-text h2 {
    font-size: 2.25rem;
    font-weight: 300;
    text-align: left;
    margin: 0;
}

.section-text p {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
    margin: 0;
}

.resume-button{
    position: static;
    color: #000000;

    border-radius: 5px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    border-color: #ffffff;
}

.fade-section {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.fade-section.visible {
    opacity: 1;
    transform: translateY(0);
}

/* ------------------------------
   Responsive Adjustments
------------------------------ */

/*Tablet Sizing*/
@media (max-width: 768px) {
    /*banner format*/
    .site-banner {
        height: 25vh;
        min-height: 210px;
    }

    .banner-content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .banner-image {
        width: 15vh;
        height: 15vh;

        min-width:120px;
        min-height:120px;
        margin: 0 auto;
    }

    .site-banner h1 {
        font-size: 2.3rem;
        text-align:left;
    }

    .site-banner h2 {
        font-size: 1.8rem;
        text-align:left;
    }

    .site-banner p {
        font-size: 1rem;
        text-align:left;
    }

    .content {
        margin: auto auto;
    }

    /*Section cards format*/
    .section-body {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .section-image {
        margin: 0 auto;
    }

    .section-text {
        text-align: left;
    }
}

/*Smartphone sizing*/
@media (max-width:600px){
    .site-banner h1 {
        font-size: 2rem;
        text-align:left;
    }

    .site-banner h2 {
        font-size: 1.5rem;
        text-align:left;
    }

    .site-banner p {
        font-size: 0.9rem;
        text-align:left;
    }
}

/*Small phone sizing*/
@media (max-width: 480px) {
    .site-banner {
        height: 25vh;
    }

    .site-banner h1 {
        font-size: 3.2rem;
        letter-spacing: 0.15rem;
    }

    .content h2 {
        font-size: 2.4rem;
    }

    .content p {
        font-size: 1.5rem;
    }
}
