---
title: About Me
layout: layout.njk
---

{# About me vision: 
I want there to be text in the middle, normal paragraph format.
Brief intro, about my upbringing, my schooling, my hobbies, and what I enjoy doing professionally 

As you scroll the paragraphs there is images that appear and dissappear on the left and right, associated to what 
I am talking about.
#}

<section class="about_card_container">
    <div class="about_card">
    </div>
</section>