---
title: Aleks Haskett | Software Engineer
layout: layout.njk
---

<div class="home_content">
    <h1>Welcome</h1>
    <p class="welcome_text">Explore more about me, my interests, and my work.<br></p>
    <p class="name_text">Aleks Haskett | Software Engineer</p>
</div>
