---
title: Website Info
layout: layout.njk
---

<section class="info_card_container">
    <div class="info_card">
        <div class="info_content">
            <h2>About This Site</h2>
            <p>
                Thank you for taking the time to look at my website. Alot of time went into the designing, coding, and 
                content creating for it, with me going through multiple iterations of it all. So it means a lot to me 
                that you took the time to explore and appreciate it. As ever, perfect is the enemy of good and I had to
                eventually stop coding, but this site is always a work in progress, if you notice anything or have any 
                suggestions feel free to reach out to me and let me know!
            </p>

        </div>

        <div class="info_content">
            <h2>Tools Used</h2>
            <p>
                This website was made using HTML, Nunjucks, and some JavaScript for functionality and components, 
                CSS for styling, 11ty for static site generation, and github actions for building and deploying the site.
                More details on the technologies used can be seen by clicking the icons below. If you would like to see the 
                source code please click the github icon below!
            </p>
            <div class="info_icons">
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-html5 fa-2xl"></i></a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-js fa-2xl"></i></a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-css3 fa-2xl"></i></i></a>
                <a href="https://github.com/WizenedOak/WizenedOak.github.io" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github fa-2xl"></i></a>
                <a href="https://mozilla.github.io/nunjucks/" target="_blank" rel="noopener noreferrer"><img src="/images/nunjucks.svg" alt="Nunjucks Logo"></i></a>
                <a href="https://www.11ty.dev/" target="_blank" rel="noopener noreferrer"><img src="/images/eleventy.svg" alt="11ty Logo"></a>
            </div>
        </div>

        <div class="info_content">
            <h2>Acknowledgements</h2>
            <p>
                As always, this site was not created in a vaccuum and I would like to give credit where it is due.
                <br>
                Firstly, the background map was created using <a href="https://mapstyler.dev4pgh.com/" target="_blank" rel="noopener noreferrer">mapstyler.dev4pgh.com</a> created by the Dev4PGH team.
                <br>
                Secondly, design inspiration came from a variety of places with the main sources of inspiration being from:
                <br>
                - <a href="https://www.victoriapuckkaram.com/" target="_blank" rel="noopener noreferrer">victoriapuckkaram.com</a>
                <br>
                - <a href="https://www.jareddillard.com/" target="_blank" rel="noopener noreferrer">jareddillard.com</a>
                <br>
                Finally, I utilized a wide variety of online resources and tutorials to figure out how to design various components
                in this code. Without these sources this site would likely not have gotten very far off the ground, and despite not
                being able to list them all due to the vast amount, I would like to thank them regardless.
            </p>
        </div>
    </div>
</section>